<h2><%= @registered_app.name %></h2>
<p><%= @registered_app.url %></p>
<table class="table">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Count</th>
    </tr>
  </thead>
  <tbody>
  <% @events.each do |name, events| %>
    <tr>
      <td><%=name%></td>
      <td><%=events.count%></td>
    </tr>
  <%end%>
  </tbody>
</table>
